<!DOCTYPE html><html>
    <head>
        <meta charset="utf-8"><meta name="viewport" content="wigth=device-whidth, initial-scale=1.0">
        <head>Error</head>
    </head>
    <style>
        *{
            background-color: blueviolet;
        }
    
        .error{
            font-size: 100px;
            color: red;
        }
        .fail{
            font-size: 100px; font-family: 'Times New Roman', Times, serif; color: antiquewhite;
            background-color: yellow;
            border-color: black; border-radius: 1.5px;
        }
    </style>
    <body>
        <h1 id="Error"> fallo </h1>
       <center> <div id="fail">
            Esta contraseña o usuario no existe
            verifique sus datos
        </div></center>
    </body>
</html>